@font-face {
    font-family: 'EduROM-Medium';
    src: url('fonts/EduROM-Medium.woff') format('woff');
}

html,
body {
    overscroll-behavior: none;
    height: 100%;
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: 'EduROM-Medium';
    font-weight: normal;

}

body::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
}

:root {
    --hoverSpeed: 0.8s;
    --gridSize: 25px;
    --buttonBorderSize: 2px;
    --fixedGridSize: 25px;
}

/**/
/* Typographie */
/**/

p,
h1,
ul,
li {
    color: white;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.2;
}

/* Teletext */

h2,
h2 a {
    color: black;
    font-size: 1.25rem;
    line-height: 0;
    text-align: center;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

.small,
small {
    color: white;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    text-align: left;
    line-height: auto;
}

.link,
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.link:hover,
h2 a:hover {
    font-style: italic;
    text-decoration: none;
}

p a:hover {
    font-style: italic;
}

/**/
/* Buttons */
/**/

.buttonBlackA,
.buttonBlackB,
.buttonWhiteA,
.buttonWhiteB {
    position: relative;
    width: auto;
    height: calc(var(--fixedGridSize)/5*4);
    border-radius: 25px;
    padding-inline: 10px;
    font-size: 0.75rem;
    cursor: pointer;
    line-height: 0;
    padding-top: 3px;
    margin-right: calc(var(--fixedGridSize)/6);

}

.buttonBlackA {
    color: white;
    border: solid black var(--buttonBorderSize);
    background-color: black;
}

.buttonBlackB {
    color: white;
    border: solid white var(--buttonBorderSize);
    background-color: black;

}

.buttonWhiteA {
    color: black;
    border: solid white var(--buttonBorderSize);
    background-color: white;
}

.buttonWhiteB {
    color: black;
    border: solid black var(--buttonBorderSize);
    background-color: white;
}

.buttonWhiteB.active {
    color: white;
    border: solid white var(--buttonBorderSize);
    background-color: black;
}

.buttonBlackA.clicked {
    color: black;
    border: solid black var(--buttonBorderSize);
    background-color: white;
}

.buttonBlackA:hover,
.buttonBlackB:hover,
.buttonWhiteA:hover,
.buttonWhiteB:hover {
    padding-inline: 15px;
    cursor: pointer;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.settings input {
    background-color: white;
    height: calc(var(--fixedGridSize)/5*3);
    border: none;
    border-bottom: var(--buttonBorderSize) solid black;
}

.bounceSettings input {
    -webkit-appearance: none;
    background: transparent;
    background-color: black;
    height: var(--buttonBorderSize);
    border-bottom: none;
}

input:focus {
    outline: none;
}

input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: var(--buttonBorderSize) solid black;
    height: calc(var(--fixedGridSize)/5*3);
    width: calc(var(--fixedGridSize)/5*3);
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

/* All the same stuff for Firefox */
input::-moz-range-thumb {
    border: var(--buttonBorderSize) solid black;
    height: calc(var(--fixedGridSize)/5*3);
    width: calc(var(--fixedGridSize)/5*3);
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

/* All the same stuff for IE */
input::-ms-thumb {
    border: var(--buttonBorderSize) solid black;
    height: calc(var(--fixedGridSize)/5*3);
    width: calc(var(--fixedGridSize)/5*3);
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

/* fixed stuff */

.fixedNavigation {
    position: absolute;
    bottom: var(--gridSize);
    right: var(--gridSize);
    z-index: 100;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.rect {
    position: absolute;
    display: block;
    background-color: none;
    color: black;
    font-size: 2.5rem;
    text-align: center;
}

.settings {
    position: absolute;
    top: var(--gridSize);
    left: var(--gridSize);
    z-index: 100;
    line-height: 1.75;
}

.settingsRight {
    position: absolute;
    top: var(--gridSize);
    right: var(--gridSize);
    z-index: 100;
    transform: translate(-50%, 0);
}

.settingsCenter {
    position: fixed;
    top: var(--gridSize);
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
}

.settingsCenterBottom {
    position: absolute;
    display: inline;
    bottom: var(--gridSize);
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
}

.settingsLeftBottom {
    position: absolute;
    display: inline;
    bottom: var(--gridSize);
    left: var(--gridSize);
    z-index: 100;
}

.settingsCenter small {
    position: absolute;
    color: black;
    line-height: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.settingsCenter p {
    position: relative;
    color: black;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
}


.settings label {
    position: relative;
    padding-left: 5px;
    color: black;
    font-size: 1rem;
    line-height: 0;
}

/* rules */

.rulesContainer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    background-color: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(10px);
    color: black;
    overscroll-behavior: none;
    scrollbar-width: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: calc(var(--hoverSpeed)/2) ease-in-out;
}

.rulesContainer.open {
    left: 0;
}

.rulesContainer h1 {
    color: black;
    margin: var(--gridSize);
    font-size: 2rem;
}

.rulesContainer p {
    color: black;
    margin: var(--gridSize);
}

.rulesContainer small {
    color: black;
    margin: var(--gridSize);
}

.closeRulesButton {
    position: fixed;
    top: var(--gridSize);
    right: var(--gridSize);
}

/* Sites */

/* index Home */

.inhaltsverzeichnis button {
    position: absolute;
    transform: translate(-50%, 0);
    /* margin-bottom: 5px; */
}

.inhaltsverzeichnisRandom {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

/* 1 - Bounce */

.container {
    padding-inline: 20px;
    padding-bottom: 0;
}

.containerBottom {
    padding-inline: 20px;
    padding-top: 100%;
}

/* 2 – Puzzle */

.playfield {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vmin;
    height: 80vmin;
    transform: translate(-50%, -50%);
    /*border: solid red 1px;*/
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(5, 0fr);
}

.solution {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 80vmin;
    height: 80vmin;
    transform: translate(-50%, -50%);
    background-color: none;
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
}

.zweiTiles {
    position: relative;
    top: 0;
    left: 0;
    width: 16vmin;
    height: 16vmin;
    border: none;
}

.moveTile {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    background-color: none;
    z-index: 20;
}

.zweiMoveTiles {
    position: absolute;
    width: 16vmin;
    height: 16vmin;
    background-color: black;
    z-index: 10;
    /*border: 1px solid blue;*/
    background-size: contain;
    background-repeat: no-repeat;
}

.zweiMoveTiles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.emptyTile {
    position: absolute;
    width: 0vmin;
    height: 0vmin;
    background-color: none;
    z-index: 9;
}

/* 3 – Snake */

.snakeHead {
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    border: calc(var(--buttonBorderSize)*2) solid black;
    border-radius: 100%;
    z-index: 10;
}

.bodyPart {
    position: absolute;
    border-radius: 100%;
    z-index: 10;
}

.fruit {
    position: absolute;
    box-sizing: border-box;
    /*border: 5px solid;*/
    border-radius: 100%;
    z-index: 5;
}

.snakePointsCounter {
    position: absolute;
    text-align: center;
    top: 40px;
    width: 100%;
    height: auto;
    font-size: 2rem;
    z-index: 1;
}

/* 4 – TicTacToe */

.tictactoeplayfield {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75vmin;
    height: 75vmin;
    transform: translate(-50%, -50%);
    /*border: solid red 1px;*/
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(3, 0fr);
}

.tictactoeTiles {
    position: relative;
    top: 0;
    left: 0;
    width: 25vmin;
    height: 25vmin;
    cursor: pointer;
    border: none;
}

.tictactoeGridLine {
    position: absolute;
    border: solid black var(--buttonBorderSize);
    z-index: 100;
}

.tictactoeCrosses {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    display: block;
    transform: translate(2.5vmin, 2.5vmin);
    display: none;
}

.tictactoeCrosses div {
    position: absolute;
    width: 25vmin;
    box-sizing: border-box;
    border: calc(var(--buttonBorderSize)) solid #e6e6e6;
}

.tictactoeCircles {
    position: absolute;
    box-sizing: border-box;
    border: calc(var(--buttonBorderSize)*2) solid #e6e6e6;
    border-radius: 100%;
    width: 20vmin;
    height: 20vmin;
    display: none;
    transform: translate(2.5vmin, 2.5vmin);
}

.tttDisplayPlayerOne,
.tttDisplayPlayerTwo {
    position: absolute;
    height: 60%;
    width: 25%;
    text-align: center;
}

.tttDisplayPlayerOne {
    bottom: 0;
}

.tttDisplayPlayerTwo {
    right: 0;
    bottom: 0;
}

.tttDisplayCount small {
    color: black;
}

.tttDisplayCount p {
    color: black;
    text-align: center;
}

/* 10000 */

.wuerfel {
    position: fixed;
    width: calc(var(--fixedGridSize)*1.2);
    height: calc(var(--fixedGridSize)*1.2);
    border-radius: 6px;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
    z-index: 9999;
}

.playerNamesContainer label {
    display: block;
    margin-top: 10px;
}

.playerNamesContainer input::placeholder {
    color: lightgray;
}

.playerNamesContainer span {
    margin-left: 10px;
}

@media (max-width: 770px) {

    :root {
        --gridSize: 15px;
    }

    /*hover*/

    .link:hover,
    h2 a:hover {
        font-style: normal;
        text-decoration: none;
    }

    p a:hover {
        font-style: normal;
    }

    .buttonBlackA:hover,
    .buttonBlackB:hover,
    .buttonWhiteA:hover,
    .buttonWhiteB:hover {
        padding-inline: 10px;
    }

    /* TicTacToe */

    .tttDisplayPlayerOne,
    .tttDisplayPlayerTwo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 50%;
        width: 100%;
        top: 12%;
        left: 0;
        text-align: center;
    }

    .tttDisplayPlayerTwo {
        top: 80%;
        right: 0;
        height: 0;
        text-align: center;
    }

    .tttDisplayCount small {
        color: black;
        text-align: center;
        line-height: 3;
    }

    .tttDisplayCount p {
        color: black;
        text-align: center;
        line-height: 0;
    }

    /*10000*/

    .settingsCenter {
        position: fixed;
        top: 70%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, 0);
    }

    .settingsCenter p {
        position: relative;
        color: black;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
    }

}